<form action="" 
    class="add-form"
    (ngSubmit)="onSubmit()"
    *ngIf="showAddTask"
>

    <div class="form-control">
        <label for="text">Text</label>
        <input 
            type="text" 
            name="text" 
            id="text" 
            placeholder="Estudiar para el parcial"
            [(ngModel)]="text"
        >
    </div>

    <div class="form-control">
        <label for="day">Day & Time</label>
        <input 
            type="text" 
            name="day" 
            id="day" 
            placeholder="Add day and Time"
            [(ngModel)]="day"
        >
    </div>

    <div class="form-control form-control-check">
        <label for="text">Reminder</label>
        <input 
            type="checkbox" 
            name="reminder" 
            id="reminder"
            [(ngModel)]="reminder"
        >
    </div>

    <input 
        type="submit" 
        value="Save Task" 
        class="btn"
    >
</form>
